@font-face {
  font-family: 'Nashville';
    src:  url('font/Nashville.ttf.woff') format('woff'),
    url('font/Nashville.ttf.svg#Nashville') format('svg'),
    url('font/Nashville.ttf.eot'),
    url('font/Nashville.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'akaPosse';
    src:  url('font/akaPosse.ttf.woff') format('woff'),
    url('font/akaPosse.ttf.svg#akaPosse') format('svg'),
    url('font/akaPosse.ttf.eot'),
    url('font/akaPosse.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  text-transform: uppercase;
  width: 64mm;
  height: 88mm;
  border: 2mm solid black;
  border-radius: 3px;
  position: relative;
  /*  overflow: hidden;*/
  font-family: 'Nashville';
}

#app:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 101%;
  background: url('https://s-media-cache-ak0.pinimg.com/736x/53/b4/44/53b444ea99a7b8c7e90631ea6e81e877.jpg') 0 0 no-repeat;
  backgroud-size: cover;
  transform: rotate(180deg) scaleX(1);
  z-index: -1;
  text-align: left;
}

#app header,
#app section,
#app footer {
  text-align: center;
}

#app figure {
  width: 50mm;
  height: 40mm;
  margin: 0 auto;
  overflow:hidden;
}

#app figure img {
  filter: grayscale(100%);
  height: 40mm;
  opacity: 0.7;
}

#app header,
#app figure,
#app footer {
  position: relative;
}

#app footer p {
  font-size: 9pt;
}

.coin {
    box-sizing: border-box;
  margin:0;
  padding:0;
  width: 15px;
  height: 15px;
  background: black/* #DAA520*/; /*goldish than gold?*/
  border-radius: 50%;
  color: papayawhip;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  font-size: 10px;
  transform: rotate(15deg);
  transform-origin: center;
  display:inline-block;
}

.reward {
  font-family: 'akaPosse';
}

#app span, #app p {
  opacity: 0.9;
}